@import './common/define.styl';
@import './common/global.styl';
@import './common/header.styl';
@import './common/layout.styl';

.p-content{
  .title{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  .info{
    text-align: center;
    color: $light;
    font-size: 12px;
    border-bottom: 1px solid $lineLight;
    padding: 8px 0px;
    margin-bottom: 16px;
  }
}