<div class="layout-header">
  <div id="header">
    <div id="site-logo">
      <a href="/"><span>JS</span><span>forEach</span></a>
    </div>
    <ul id="site-menu">
      <li>
        <a href="/">首页</a>
      </li>
      <li>
        <a href="/content">文章</a>
      </li>
      <li>
        <a href="/document">文档</a>
      </li>
    </ul>

    <div id="site-search">
      <input type="text" placeholder="搜索文章或关键字">
      <button>
        <span class="icon i-search"></span>
      </button>
    </div>
  </div>

  <script>
    
  </script>
</div>