@import 'global.styl'

#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #191919;
  color: #fff;
  padding: 10px 20px;

  #logo{
    font-size: 33px;
    font-family: 'PostScriptum';
    font-weight: bold;
    line-height: 33px;
    span{
      font-size: 33px;
      // color: $primary;
    }
  }

  #menu{
    display: flex;
    height: 100%;

    li{
      margin: 0px 15px;
      display: flex;
      align-items: center;
      cursor pointer

      span{
        color: rgba(255, 255, 255, 0.7);
        font-size: 14px;
        font-weight: bold;
      }
      

      &:hover, &.active{
        span{
          color: #fff;
        }
        i{
          color: #fff;
        }
      }
    }
  }

  #toolbar{
    padding: 5px;
    cursor pointer;
    i{
      font-size: 18px;
      color: rgba(255, 255, 255, 0.7);
    }
    &:hover{
      i{
        color: #fff;
      }
    }
  }
}
  