* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #4a4a4a;
}
a:active {
  color: #4a4a4a;
}
.header {
  height: 40px;
  background: #fafafa;
  border-bottom: 3px solid #00f;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
.p-index {
  font-size: 14px;
}
