* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #4a4a4a;
}
a:active {
  color: #4a4a4a;
}
button {
  cursor: pointer;
}
@font-face {
  font-family: 'logo';
  src: url("../font/ruler2/Ruler Heavy.ttf") format('truetype');
}
#header {
  display: flex;
  align-items: center;
  width: 1260px;
  margin: auto;
}
#header >#site-logo {
  font-family: logo !important;
  height: 48px;
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-right: 24px;
}
#header >#site-logo >a >span:nth-child(1) {
  color: #5143dd;
}
#header >#site-logo >a >span:nth-child(2) {
  color: #000;
}
#header >#site-menu {
  height: 48px;
  display: flex;
  flex: auto;
}
#header >#site-menu >li {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 0px 8px;
}
#header >#site-menu >li:hover {
  border-bottom: 3px solid #5143dd;
  color: #5143dd;
}
#header >#site-search {
  height: 32px;
  background: #f5f5f5;
  border: 1px solid #e5e5e5;
  border-radius: 16px;
  padding: 0px 8px;
  text-align: right;
  position: relative;
}
#header >#site-search >input {
  height: 24px;
  border: none;
  background: none;
  padding: 0 36px 0 4px;
}
#header >#site-search >button {
  position: absolute;
  right: 0;
  top: -1px;
  height: 32px;
  width: 32px;
  background: #5143dd;
  border: none;
  border-radius: 100%;
  color: #fff;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}
body .layout-header {
  background: #fff;
  border-top: 3px solid #5143dd;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 8px;
}
body .layout-content {
  width: 1260px;
  margin: auto;
  flex: auto;
}
body .layout-footer {
  width: 1260px;
  margin: auto;
  text-align: center;
}
.g-block {
  padding: 16px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
}
.p-index {
  display: flex;
}
.p-index >.list {
  width: 900px;
  margin-right: 16px;
}
.p-index >.list .list-item {
  padding: 16px 0;
  border-bottom: 1px solid #eee;
}
.p-index >.list .list-item:first-child {
  padding-top: 0;
}
.p-index >.list .list-item:last-child {
  border-bottom: none;
}
.p-index >.list .list-item >a {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}
.p-index >.list .list-item >.list-item-info {
  font-size: 12px;
}
.p-index >.list .list-item >.list-item-info label {
  color: #8f8e94;
  margin-left: 16px;
}
.p-index >.list .list-item >.list-item-info label:first-child {
  margin: 0;
}
.p-index >.list .list-item >.list-item-info span {
  color: #4a4a4a;
  display: inline-block;
  border-radius: 4px;
  background: #f5f5f5;
  padding: 2px 8px;
}
.p-index >.list .list-item >.list-item-info span.list-item-tag {
  background: #5fba7d;
  color: #fff;
}
.p-index >.tags {
  flex: auto;
}
