@import 'global.styl'

.p-index{
  display: flex;
  padding: 20px 0;
  margin: auto;
  position: relative;
  
  >.p-index-list{
    flex: 1;

    .p-list-title{
      border-bottom: 1px solid $border
    }
  }

  >.p-index-side{
    width: 360px;
    margin-left: 20px;
  }

  >.p-index-tool{
    position: absolute;
  }
}