<!DOCTYPE html>
<html>
<head>
  <title>JS.foreach(x => learn(x))</title>
  <meta name="Keywords" content="">
  <meta name="description" content="">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" media="screen" href="/icon/iconfont.css">
  <!-- <link rel="stylesheet" type="text/css" media="screen" href="/css/common.css"> -->
  <link rel="stylesheet" type="text/css" media="screen" href="/css/index.css">
  
</head>
<body>
  <div id="app">
    {{> header}}
    <div class="g-container">
      <div class="g-content p-index">
        <div class="p-index-list">
          <div class="g-block">
            <div class="g-box p-list-title">
              React
            </div>
            <div class="g-box p-list-content">
                aaaaa
            </div>
          </div>
        </div>
        <div class="p-index-side">
          <div class="g-block g-box">
            <div class="g-block-title">主题分类</div>
            <ul>
              <li>bb</li>
            </ul>
          </div>
        </div>
        <div idclass="p-index-tool">

        </div>
      </div>
    </div>

    

  </div>

  <script src="/js/library/polyfill.min.js"></script>
  <script src="/js/index.js"></script>
</body>
</html>