$bg             = #fafafa;

$dark           = #4a4a4a;
$normal         = #8f8e94;
$light          = #acacac;
$disable        = #cccccc;

$line_light     = #f1f1f1;

$clear() {
  &:after{
    content: '';
    display: block;
    clear: both;
  }
}