html{
  height: 100%;
}
body{
  height: 100%;
  background: $bg;
  display: flex;
  flex-direction: column;
  font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;

  .layout-header{
    background: #fff;
    border-top: 3px solid $primary;;
    border-bottom: 1px solid $line;
    margin-bottom: 8px;
  }

  .layout-content{
    width: $pageWidth;
    margin: auto;
    flex: auto;
  }

  .layout-footer{
    width: $pageWidth;
    margin: auto;
    text-align: center;
  }
}




.g-block{
  padding: 16px;
  background: #fff;
  border: 1px solid $lineLight;
  border-radius: 4px;
}